@import 'config';
* {
  font-family: 'Noto Sans JP', sans-serif;
}
.inner {
  margin: auto;
  @include pc {
    width: 1080px;
  }
  @include sp {
    width: 90vw;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  @include pc {
    background: rgba($color: #48D9F6, $alpha: .3);
  }
  @include sp {
    padding: 3vw;
  }
  &_nav {
    width: 100%;
    display: flex;
    align-items: center;
    @include pc {
      justify-content: flex-end;
      padding-right: 20px;
      height: 50px;
    }
    @include sp {
      display: none;
      justify-content: space-around;
      height: 10vw;
    }
  }
  &_link {
    font-size: 14px;
    &:hover {
      opacity: .7;
    }
    @include sp {
      font-size: 3.12vw;
    }
    &:nth-child(n+2) {
      @include pc {
        margin-left: 36px;
      }
    }
  }
}
.main {
  &_mv {
    position: relative;
  }
  &_logo {
    position: absolute;
    display: flex;
    align-items: center;
    @include pc {
      top: 50px;
      left: 50px;
    }
    @include sp {
      top: 3vw;
      left: 0vw;
    }
    &_img {
      @include pc {
        flex-basis: 75px;
        width: 75px;
      }
      @include sp {
        flex-basis: 15vw;
        width: 15vw;
      }
    }
    &_txt {
      font-family: Georgia;
      font-style: italic;
      color: #fff;
      @include pc {
        font-size: 50px;
      }
      @include sp {
        font-size: 7vw;
      }
    }
  }
}
.idea {
  @include pc {
    padding: 100px 0 130px;
  }
  @include sp {
    padding: 10vw 0 20vw;
  }
  &_ttl {
    @include pc {
      font-size: 38px;
    }
    @include sp {
      font-size: 5vw;
    }
  }
  &_lead {
    @include pc {
      line-height: 5;
      font-size: 20px;
      margin-top: 100px;
    }
    @include sp {
      line-height: 2;
      font-size: 3vw;
      margin-top: 10vw;
    }
  }
}
.about {
  &_ttl {
    background: #48D9F6;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    @include pc {
      height: 100px;
      line-height: 100px;
      padding-left: 180px;
      font-size: 36px;
    }
    @include sp {
      height: 20vw;
      line-height: 20vw;
      padding-left: 5vw;
      font-size: 5vw;
    }
  }
}
.talkSection {
  @include pc {
    padding: 90px 0 190px;
  }
  @include sp {
    padding: 10vw 0 25vw;
  }
  &_date {
    background: rgba($color: #CEDAF7, $alpha: .7);
    display: block;
    line-height: 1;
    color: #707070;
    margin: auto;
    text-align: center;
    border-radius: 16px;
    @include pc {
      padding: 15px 0;
      font-size: 24px;
      width: 200px;
    }
    @include sp {
      padding: 1.5vw 0;
      font-size: 3vw;
      width: 25vw;
    }
  }
  &_talk {
    margin: auto;
    @include pc {
      margin-top: 50px;
      width: 93vw;
    }
    @include sp {
      margin-top: 5vw;
      width: 90vw;
    }
    &_item {
      background: #48D9F6;
      position: relative;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
      &:before {
        content: "";
        display: block;
        position: absolute;
        @include pc {
          top: 60px;
          left: -50px;
          border-top: 50px solid transparent;
          border-right: 100px solid #48D9F6;
          border-bottom: 50px solid transparent;
        }
        @include sp {
          top: 10vw;
          left: -5vw;
          border-top: 5vw solid transparent;
          border-right: 10vw solid #48D9F6;
          border-bottom: 5vw solid transparent;
        }
      }
      &.read {
        &:after {
          content: "既読";
          display: block;
          position: absolute;
          line-height: 1;
          color: #888;
          @include pc {
            bottom: 0;
            right: -40px;
            font-size: 18px;
          }
          @include sp {
            bottom: 0;
            right: -5vw;
            font-size: 3vw;
          }
        }
      }
      &-right {
        @extend .talkSection_talk_item;
        margin-left: auto;
        background: #FBFF9B;
        &:before {
          left: auto;
          border-right: none;
          @include pc {
            right: -50px;
            border-left: 100px solid #FBFF9B;
          }
          @include sp {
            right: -5vw;
            border-left: 10vw solid #FBFF9B;
          }
        }
        &:after {
          right: auto;
          @include pc {
            left: -55px;
          }
          @include sp {
            left: -5vw;
          }
        }
      }
      @include pc {
        width: 72.76vw;
        border-radius: 50px;
        padding: 50px 130px;
        font-size: 24px;
        line-height: 2.5;
      }
      @include sp {
        width: 75vw;
        border-radius: 10vw;
        padding: 5vw 5vw;
        font-size: 4vw;
        line-height: 1.5;
      }
      &:nth-child(n+2) {
        @include pc {
          margin-top: 90px;
        }
        @include sp {
          margin-top: 10vw;
        }
      }
    }
  }
}
.contact {
  background: #48D9F6;
  text-align: center;
  @include pc {
    padding: 50px 0 100px;
  }
  @include sp {
    padding: 5vw 0 10vw;
  }
  &_ttl {
    @include pc {
      font-size: 28px;
    }
    @include sp {
      font-size: 5vw;
    }
  }
  &_row {
    display: flex;
    justify-content: space-around;
    @include pc {
      width: 500px;
      margin: 50px auto 0;
    }
    @include sp {
      margin-top: 5vw;
    }
  }
  &_btn {
    background: #FBFF9B;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    &:hover {
      cursor: pointer;
      transform: translateY(5px);
    }
    @include pc {
      border-radius: 50px;
      width: 200px;
      height: 50px;
      font-size: 24px;
      line-height: 50px;
    }
    @include sp {
      border-radius: 10vw;
      width: 40vw;
      height: 15vw;
      font-size: 4vw;
      line-height: 15vw;
    }
  }
}
.info {
  @include pc {
    padding: 85px 0 75px;
  }
  @include sp {
    padding: 7vw 0 5vw;
  }
  &_ttl {
    text-align: center;
    @include pc {
      font-size: 28px;
    }
    @include sp {
      font-size: 5vw;
    }
  }
  &_row {
    display: flex;
    justify-content: space-around;
    margin: auto;
    @include pc {
      width: 800px;
      padding-top: 75px;
    }
    @include sp {
      width: 90vw;
      padding-top: 7vw;
      flex-direction: column;
      align-items: center;
    }
  }
  table {
    @include pc {
      width: 350px;
    }
    @include sp {
      width: 80vw;
    }
    th {
      width: 35%;
      @include pc {
        padding-bottom: 10%;
      }
      @include sp {
        padding-bottom: 5%;
      }
    }
    td {
      @include pc {
        padding-bottom: 10%;
      }
      @include sp {
        padding-bottom: 5%;
      }
    }
  }
  &_map {
    @include pc {
      width: 400px;
      height: 350px;
    }
    @include sp {
      width: 80vw;
      height: 50vw;
      margin-top: 10vw;
    }
  }
}
.footer {
  text-align: right;
  box-shadow: 0 -1.5px 3px rgba($color: #000000, $alpha: .16);
  @include pc {
    padding: 50px 40px 5px;
  }
  @include sp {
    padding: 6vw 5vw 2vw;
  }
  &_txt {
    @include pc {
      font-size: 18px;
    }
    @include sp {
      font-size: 3vw;
    }
  }
}
.humberger {
  @include pc {
    display: none;
  }
  z-index: 20;
  width: 8vw;
  height: 8vw;
  padding: 1vw;
  background: #fff;
  border-radius: 4px;
  margin-left: auto;
  svg {
    width: 100%;
    fill: #48D9F6;
  }
}
.spMenue {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba($color: #000000, $alpha: .3);
  &_link {
    font-family: 'Noto Sans JP', sans-serif;
    display: block;
    padding: 2vw 4vw;
    background: #48D9F6;
    text-align: left;
  }
  &.active {
    display: block;
    .spMenue_content {
      right: 0;
    }
  }
  &_content {
    position: absolute;
    width: 50vw;
    background: #fff;
    padding: 15vw 0;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    transition: all ease .5s;
    right: -100%;
    border-radius: 16px 0 0 16px;
  }
}
.works {
  text-align: center;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16) inset;
  background: #FFE886;
  @include pc {
    padding: 50px 0 100px;
  }
  @include sp {
    padding: 10vw 0;
  }
  &_ttl {
    @include pc {
      font-size: 28px;
    }
    @include sp {
      font-size: 5vw;
    }
  }
  &_txt {
    font-weight: bold;
    @include pc {
      font-size: 20px;
    }
    @include sp {
      font-size: 5vw;
      margin-top: 5vw;
    }
  }
  &_row {
    display: flex;
    align-items: center;
    @include pc {
      justify-content: space-between;
      width: 450px;
      margin: 50px auto 0;
    }
    @include sp {
      flex-direction: column;
      margin-top: 5vw;
    }
    &_img {
      @include pc {
        width: 200px;
      }
      @include sp {
        width: 50vw;
      }
    }
  }
}